/* here you can put your own css to customize and override the theme */
html,body{
	overflow: hidden;
}
.back-gps{
	background: white;
}
.gps-sidebar-1{
	clear: left; 
	height: 30px; 
	background-color: #4b8df8; 
	color: #fff;
    font-size: 13px; 
    font-weight: bold; 
    padding-left: 10px; 
    padding-top: 0px; 
    position: relative;
    line-height: 30px;
}
span.icon-gp{
	cursor: pointer; 
	position: absolute; 
	top: 0px; 
	right: 10px;
}
#userTreeDiv{
	clear: left; 
	height: 130px; 
	overflow: auto; 
	border: 1px #CCCCFF solid;
}
#divLoading{
	width: 32px; 
	margin: 0 auto; 
	display: block; 
	z-index: 99999;
}
#divLeft{
	width: 260px; 
	float: left;
}
#divLeftMenu{
	position: absolute; 
	width: 95px; 
	height: auto; 
	background-color: white;
    display: none; 
    font-size: 12px; 
    z-index: 9999; 
    border: 1px #C8C8C8 solid;
}
#divLeftSearchUsers{
	position: absolute;
	width: 247px;
	height: 180px;
	overflow: auto;
	background-color: white;
	display: none;
	margin-top: 61px;
	margin-left: 7px;
	z-index: 9999;
	border: 1px #C8C8C8 solid;
}
#SearchText{
	width: 208px;
	line-height: 18px;
	height: 25px;
	border: 1px solid #CCC;
	margin: 1px 0px 0px 1px;
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 0px 0px 0px 5px;
	color: #605e5e;
	font-size: 13px;
}
.ico-des{
	height: 25px; 
	width: 33px; 
	padding: 0px; 
	margin: 1px 0px 0px 1px; 
	display: inline-block;
    line-height: 18px; 
    cursor: pointer; 
    position: absolute; 
    top: 0px; 
    left: 208px;
}
#txtSearchInput{
	border-bottom: #c1c1c1 1px solid;
	border-left: #c1c1c1 1px solid;
	border-top: #c1c1c1 1px solid;
	border-right: #c1c1c1 1px solid;
	width: 170px;
	height: 25px;
	color: #605e5e;
}
#imgProductSearch{
	cursor: pointer;
}
#divLeftSearchDevices{
	position: absolute;
	width: 170px;
	height: 180px;
	overflow: auto;
	background-color: white;
	display: none;
	top: 24px;
	left: 47px;
	z-index: 9999;
	border: 1px #C8C8C8 solid;
}

